body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    background-size: cover;
    background-image: url('https://assets.teenvogue.com/photos/5583d044fb1995762be437b4/16:9/w_2560%2Cc_limit/my-life-2014-06-girl-engineers-big.jpg');
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


form {
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
}

h4 {
    background-color: hotpink;
    text-align: center;
}

button {
    width: 100px;
}

.preferred-project {
    margin-top: 20px;
}


.form-control {
    margin-bottom: 20px;
}

.exp-form {
    margin-top: 20px;
}


.statement {
    margin-top: 20px;
}
